@model CarInfo.Models.LoginModel
@using CarInfo.BAL;


@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout_Client.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ClientCV.UserEmail() you have succesfully signed in</h1>

    <a asp-action="LogOut">Sign Out</a>
</div>