@model CarInfo.Models.LoginModel

@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout_Client.cshtml";
}
<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title">
                    <h2>Login or Create an Account</h2>
                </div>
            </div>
            <!--col-xs-12-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</div>


<!-- BEGIN Main Container -->

<div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">

    <div class="main">
        <div class="account-login container">
            <!--page-title-->

            @* <form action="#" method="post" id="login-form"> *@
                <@* input *@ name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
                <fieldset class="col2-set">
                    <div class="col-1 new-users">
                        <strong>New Customers</strong>
                        <div class="content">

                            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                            <div class="buttons-set">
                                <button type="button" asp-action="Registration" title="Create an Account" class="button create-account" onClick=""><span><span>Create an Account</span></span></button>
                                <a class="button create-account" asp-asp-controller="Login" asp-action="Registration">Register new User</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 registered-users">
                        <strong>Verify Email Address</strong>
                        <div class="content">

                            <p>We Sent a 6-Digit Code To Your Email.</p>
                            <form asp-action="VerifyEmail" method="post">
                                @if (TempData["RegistrationModel"] != null)
                                {
                                    <input type="hidden" name="model" value="@TempData["RegistrationModel"]" />
                                }
                                <ul class="form-list">
                                    <li>
                                        <label for="otp">Code<em class="required">*</em></label>
                                        <div class="input-box">
                                            <input name="otp" type="text" id="otp" class="input-text required-entry" title="Code">
                                            @* <span asp-validation-for="EmailVerificationCode" class="text-danger"></span> *@
                                        </div>
                                    </li>
                                </ul>
                                <div class="remember-me-popup">
                                    <div class="remember-me-popup-head" style="display:none">
                                        <h3 id="text2">What's this?</h3>
                                        <a href="#" class="remember-me-popup-close" onClick="showDiv()" title="Close">Close</a>
                                    </div>
                                    <div class="remember-me-popup-body" style="display:none">
                                        <p id="text1">Checking "Remember Me" will let you access your shopping cart on this computer when you are logged out</p>
                                        <div class="remember-me-popup-close-button a-right">
                                            <a href="#" class="remember-me-popup-close button" title="Close" onClick="
            showDiv()"><span>Close</span></a>
                                        </div>
                                    </div>
                                </div>

                                <p class="required">* Required Fields</p>



                                <div class="buttons-set">

                                    <button type="submit" class="button login" title="Code" name="send" id="send2"><span>Verify</span></button>

                                    @* <a href="#" class="forgot-word">Forgot Your Password?</a> *@
                                </div> <!--buttons-set-->
                            </form>
                        </div> <!--content-->
                    </div> <!--col-2 registered-users-->
                </fieldset> <!--col2-set-->
            @* </form> *@

        </div> <!--account-login-->

    </div><!--main-container-->

</div> <!--col1-layout-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}