@{
    ViewData["Title"] = "CAR_CarWiseFuelTypeAddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CarInfo.Areas.CAR_CarWiseFuelType.Models.CAR_CarWiseFuelTypeModel

    <div class="row" style="width:auto">
        <div class="col-md-12">
            <h3>@TempData["FuelTypeInsertMsg"]</h3>
            <form method="post" asp-controller="CAR_CarWiseFuelType" asp-action="Save">
                @Html.HiddenFor(x=>x.FuelTypeID)
            <div class="form-group">
                <label>Car Name</label>
                <select class="form-control" asp-for="CarID" asp-items="@(new SelectList(ViewBag.CarList,"CarID","Name"))">
                    <option value="">Select Car</option>
                </select>
                <span asp-validation-for="CarID" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label>FuelType Name</label>
                    <input type="text" class="form-control" placeholder="Enter FuelType" asp-for="FuelTypeName" />
                    <span asp-validation-for="FuelTypeName" class="text-danger"></span>
                </div>
                <hr />
                <input type="submit" class="btn btn-outline-primary" />
                <a asp-area="CAR_CarWiseFuelType" asp-controller="CAR_CarWiseFuelType" asp-action="Back">
                    <button type="button" class="btn btn-success">Cancel</button>
                </a>

            </form>
        </div>
    </div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}